.body-class-dark {
  height:100%;
  background-color: black;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  min-height: 100vh;
  font-family: "Staatliches", cursive;
  height:100%;
}

.container-mywork {
  display: flex;
  flex-direction: column;
  gap: 100px;
  margin: 0;
}

.header-mywork {
  border: 1px solid;
}
.header-mywork h1 {
  color: rgb(125, 157, 142);
}
.header-mywork h3 {
  color: rgb(82, 155, 121);
}

.content-mywork {
  
  border-radius: 10px;
  border: 1px solid;
  background-color: rgba(136, 181, 152, 0.129);
  padding-bottom: 50px;
}
.content-mywork h1 {
  color: rgb(125, 157, 142);
}
.content-mywork h3 {
  color: rgb(82, 155, 121);
}

.content-work-img img {
  filter: grayscale(20%) brightness(75%);
  border-radius: 10px;
  height: 30vh;
  
  cursor: zoom-in;
  padding: 0;
  margin-top: 20px;
}

.content-work-img {
  display: flex;
  justify-content: center;
}

.content-mywork-mini {
  border-radius: 10px;
  border: 1px solid;
  background-color: rgba(136, 181, 152, 0.129);
}

.content-cv {
  text-align: center;
  height: 60vh;
}
.content-header-cv {
  color: rgb(125, 157, 142);
}
.content-cv iframe {
  padding: 20px;
  filter: grayscale(20%) brightness(75%);
  width: 80%;
  height: 90%;
}

.project-names {
  text-align: center;
  padding-top: 20px;
}

.repo {
  font-family: "Staatliches", cursive;
  border: 1px solid;
  padding: 20px;
  border-radius: 10px;
}
.repo input {
  font-family: "IBM Plex Sans Thai Looped", sans-serif;
}
.repo h1 {
  color: rgb(125, 157, 142);
}
.repo li {
  margin-top: 10px;
  padding-top: 10px;
  color: rgb(125, 157, 142);
  list-style: none;
}

.repo li a {
  padding-top: 10px;
  color: rgb(125, 157, 142);
  text-decoration: none;
  font-size: 20px;
}

.repo button {
  border: none;
  margin-left: 10px;
  /* For search */
  /* margin-left: 10px; */
  font-size: 2vw;
  width: 15%;
}
