// header{
//   background-color: rgb(10, 10, 10);
//   height: 50px;
//   width: 100vw;
//   z-index: 1;
// }
.container-nav {
  position: fixed;

  right: 10px;
  top: 350px;
  margin-top: 0;
  z-index: 1;
  .nav-bar {
    ul {
      display: flex;
      flex-direction: column;
      gap: 20px;
      padding-top: 8px;
      .nav-title {
        // display: none;
      }
    }

    .nav-items {
      display:flex;
      flex-direction: row;
      list-style: none;
      text-decoration: none;
      color: rgb(249, 252, 253);
      font-weight: 600;
      font-size: 25px;
      font-family: "Poppins", sans-serif;
      .active {
        font-size: 27 px;
        transition: 1s;
        color: rgb(179, 182, 18);
      }
    }
    .nav-items:hover{
      
      color: rgb(179, 182, 18);
      
      // .nav-title {
      //   display: block;
      // }
    }
  }
}

/* NAV */

// .nav-items-right {
//   list-style: none;
//   text-decoration: none;
//   color: rgb(242, 247, 243);
//   font-weight: 600;
//   font-size: 25px;
//   font-family: "Poppins", sans-serif;
//   padding-left: 200px;
// }

.active-item {
  color: rgb(248, 242, 242);
  border-bottom: 0.1em rgb(252, 252, 255);
}

.sticky {
  position: fixed;
  top: 0;
}
.yellow

/* Media quries */ {
  @media screen and (max-width: 1400px) {
    .nav-items {
      font-size: 15px;
    }
    .nav-items-right {
      padding-left: 100px;
      font-size: 15px;
    }
  }
}
@media screen and (max-width: 950px) {
  .nav-items,
  .nav-items-right {
    font-size: 15px;
  }
}

@media screen and (max-width: 900px) {
  .nav-items-right {
    padding-left: 0px;
  }
}
@media screen and (max-width: 770px) {
  header {
    background-color: rgb(14, 13, 13);
    height: 240px;
  }
  .nav-items,
  .nav-items-right {
    font-size: 30px;
  }
  .container-nav {
    display: flex;
    justify-content: center;
    margin: 0;
  }
  nav ul {
    display: flex;
    flex-direction: column;
    gap: 0;
    text-align: center;
    padding-left: 0;
  }
  .contact-link {
    margin: 0;
  }
}

/* NAV SLUT*/
